#drag-file {
    border: 2px dashed #bbb;
    height: 85%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    font: 21pt bold arial;
    color: #bbb;
}

.area {
  width: 100%;
  height: 100%;
  padding: 15px;
  background: rgba(255,255,255,1);
}

.cont {
  height: 100%;
}

html, body {
        height: 100%;
        margin: 0px;
    }

.setting {
  margin-top: 10px;
  float: right;
}
