<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/setting.css">
  </head>
  <body>
    <div id="views/setting" data-vm="viewModels/settingModel">

    <div class="container">

      <div class="row voffset"></div>


      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="name" type="text" class="form-control" name="name" placeholder="Name">
          </div>

        </div>
      </div>

      <div class="row voffset"></div>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-folder-close"></i></span>
            <input id="path" type="text" class="form-control" name="path" disabled>
          </div>
        </div>
        <div class="col-sm-12 pull-right">
          <input type="file" name="file" id="file" class="folder" webkitdirectory />
          <label for="file" class="btn btn-default" id="btnPath"><i class="glyphicon glyphicon-folder-open"></i> Choose a folder </label>
        </div>
      </div>

      <div class="row voffset"></div>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">

          <label class="radio-inline"><input type="radio" name="radioKey" id='key2'>2 Keys</label>
          <label class="radio-inline"><input type="radio" name="radioKey" id='key3'>3 Keys</label>

        </div>
      </div>

      <div class="row voffsets"></div>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <button type="button" class="btn" id="btnkey1">Key 1</button>
          <button type="button" class="btn" id="btnkey2">Key 2</button>
          <button type="button" class="btn" id="btnkey3" disabled  >Key 3</button>

        </div>
      </div>

      <div class="row voffset"></div>
      <div class="row voffset"></div>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 pull-right">

          <button type="button" class="btn btn-default" id="confirm"><i class="glyphicon glyphicon-ok"></i> Confirm</button>

        </div>
      </div>


    </div>

  </body>
</html>
